skypilot
fastapi
supabase
pytest 
torch 
einops
tiktoken
sse-starlette
uvicorn
loguru
pydantic
stripe
swarms-cloud
xformers
transformers_stream_generator
bitsandbytes
peft
accelerate
transformers==4.37.2
huggingface_hub[hf_transfer]
huggingface-hub
optimum
auto-gptq
whisperx
shortuuid
exxa