skypilot
fastapi==0.110.0
supabase
pytest 
torch 
einops
tiktoken
sse-starlette==2.0.0
uvicorn
loguru
pydantic
stripe
swarms-cloud
xformers
diffusers
transformers_stream_generator
bitsandbytes
peft
accelerate
transformers==4.39.3
huggingface-hub
optimum
auto-gptq
whisperx
shortuuid
exxa