skypilot
fastapi==0.112.2
supabase
pytest 
torch 
einops
tiktoken
sse-starlette==2.1.3
uvicorn
loguru
pydantic
stripe
swarms-cloud
xformers
diffusers
transformers_stream_generator
bitsandbytes
peft
accelerate
transformers==4.44.0
huggingface-hub
optimum
auto-gptq
whisperx
shortuuid
hf_transfer
swarms
fastapi
uvicorn
tiktoken
pydantic
asyncio
swarms-cloud