# docker
# fastapi
# kubernetes
# pydantic
# loguru
# gunicorn
# uvicorn
# python-dotenv
# httpx



# fastapi
# pydantic
# loguru
# docker
# kubernetes
# python-dotenv

asyncio
fastapi
pydantic
loguru
supabase
python-dotenv
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
gunicorn
uvicorn
psutil